body {
	background-color: #afafaf;
	-webkit-font-smoothing: antialiased;
	word-wrap: break-word;	
}

 img {
 	position: relative;
 	width: 45%;
 	left: 27.5%;
 	margin-top: 150px;
 	margin-bottom: 150px;
 	border: 0.5px solid black;
 	border-color: black;
    filter: url("images/img.jpg"); /* Firefox 3.5+ */
    filter: white; /* IE6+ */
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    animation:pulse 2s infinite alternate;
  }

  img:hover {
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    animation:none;
  }


@keyframes pulse {
  from { box-shadow:0px 0px 10px 0px white; }
  to { box-shadow:0px 0px 50px 20px white; }
}

h1 {
	text-align: center;
	font-family: arial, sans-serif;
	font-size: 2vw;
	font-weight: normal;
	margin-bottom: 10px;
}

h2 {
    font-family:  arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.2;
    color: rgb(0, 0, 0);
    text-rendering: optimizeLegibility;
}

h3 {
	text-align: center;
	font-family: times, serif;
	font-size: 2.5rem;
	font-weight: lighter;
	margin-bottom: 10px;
	text-rendering: optimizeLegibility;
}

p {
    font-family:  arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    padding: 0;
    margin: 0;
    font-size: 1.25vw;
    line-height: 1.2;
    color: rgb(0, 0, 0);
    text-rendering: optimizeLegibility;
}

.italic {
    font-family:  times;
    font-style: italic;
    font-weight: 500;
    padding: 0;
    margin: 0;
    font-size: 1.30vw;
    line-height: 1.22;
    color: rgb(0, 0, 0);
    text-rendering: optimizeLegibility;
}

.subtitle {
    font-family:  times;
    font-style: normal;
    font-weight: 500;
  	text-align: center;
    font-size: 1.30vw;
    line-height: 1.22;
    color: rgb(0, 0, 0);
    text-rendering: optimizeLegibility;
}

/*Overflow Bars*/

#topbar {
	position: fixed;
	width: 100%;
	height: 5%;
	top: 0%;
	left: 0%;
	background-color: #afafaf;
	z-index: 100;
}

#botbar {
	position: fixed;
	width: 100%;
	height: 10%;
	bottom: 0%;
	left: 0%;
	background-color: #afafaf;
	z-index: 100;
}

/*WIDE*/
@media all and (min-width: 960px) {
	
	.text {
		position: relative;
		left: 30%;
		width: 40%;
		top: 10%;
		height:80%;
		margin-bottom: 0px;
		z-index: 50%;
		overflow: scroll;
	}

	h1 {
		top: 20%;
		margin-top: 100px;
		margin-bottom: 150px;
	} 

	h2 {
		top: 20%;
		margin-bottom: 75px;
	}

	p2, #italicLink {
		font-family: times, serif;
		color: black;
		font-size: calc(8px + 1.5vw);
	    text-align: justify;
		line-height: 140%;
		font-style: italic;
		letter-spacing: 0.025vw;
		word-spacing: 0.15vw;
	}

	/*Underline Animation*/
	a {
		text-decoration: none;
		font-family: times, serif;
		font-size: calc(8px + 0.7vw);
		position: relative;
		color: black;
		z-index: 100;
	}

	a:after {
		content: '';
		position: absolute;
		bottom: -0.75px;
		left: 0;
		width: 0%;
		border-bottom: 1px solid black;
		transition: 0.3s;
	}

	a:hover:after {
  		width: 100%;
	}

}

/*MEDIUM*/
@media all and (max-width: 959px) and (min-width: 600px) {
	
	.text {
		position: relative;
		left: 30%;
		width: 40%;
		top: 10%;
		height:80%;
		margin-bottom: 0px;
		z-index: 50%;
		overflow: scroll;
	}

	h1 {
		top: 20%;
		margin-top: 100px;
		margin-bottom: 150px;
	} 

	h2 {
		top: 20%;
		margin-bottom: 75px;
	}

	p2, #italicLink {
		font-family: times, serif;
		color: black;
		font-size: calc(8px + 1.5vw);
	    text-align: justify;
		line-height: 140%;
		font-style: italic;
		letter-spacing: 0.025vw;
		word-spacing: 0.15vw;
	}

	/*Underline Animation*/
	a {
		text-decoration: none;
		font-family: times, serif;
		font-size: calc(8px + 0.7vw);
		position: relative;
		color: black;
		z-index: 100;
	}

	a:after {
		content: '';
		position: absolute;
		bottom: -0.75px;
		left: 0;
		width: 0%;
		border-bottom: 1px solid black;
		transition: 0.3s;
	}

	a:hover:after {
  		width: 100%;
	}
}

/*SMALL*/
@media all and (max-width: 599px) and (min-width: 50px) {
	
	.text {
		position: relative;
		left: 30%;
		width: 40%;
		top: 10%;
		height:80%;
		margin-bottom: 0px;
		z-index: 50%;
		overflow: scroll;
	}

	h1 {
		top: 20%;
		margin-top: 100px;
		margin-bottom: 150px;
	} 

	h2 {
		top: 20%;
		margin-bottom: 75px;
	}

	p2, #italicLink {
		font-family: times, serif;
		color: black;
		font-size: calc(8px + 1.5vw);
	    text-align: justify;
		line-height: 140%;
		font-style: italic;
		letter-spacing: 0.025vw;
		word-spacing: 0.15vw;
	}

	/*Underline Animation*/
	a {
		text-decoration: none;
		font-family: times, serif;
		font-size: calc(8px + 0.7vw);
		position: relative;
		color: black;
		z-index: 100;
	}

	a:after {
		content: '';
		position: absolute;
		bottom: -0.75px;
		left: 0;
		width: 0%;
		border-bottom: 1px solid black;
		transition: 0.3s;
	}

	a:hover:after {
  		width: 100%;
	}
}


/*Interface*/


#chapter1-hover-content {
	position: fixed;
	right: 12.5%;
	top: 4.5%;
	z-index: 100;
	opacity:0;   
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    transition:.5s;
}

#chapter1-hover:hover #chapter1-hover-content {
    opacity:1;
    
}

#chapter1-span {
	position: fixed;
	right: 2%;
	top: 10.7%;
	font-family: arial, sans-serif;
	font-size: calc(8px + 0.4vw);
	color: black;
	z-index: 50;

}


#chapter2-hover-content {
	position: fixed;
	right: 11.8%;
	top: 15.5%;
	z-index: 100;
	opacity:0;   
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    transition:.5s;
}

#chapter2-hover:hover #chapter2-hover-content {
    opacity:1;
    
}

#chapter2-span {
	position: fixed;
	right: 2%;
	top: 22.5%;
	font-family: arial, sans-serif;
	font-size: calc(8px + 0.4vw);
	color: black;
	z-index: 50;

}

#chapter3-hover-content {
	position: fixed;
	right: 12.5%;
	top: 29.3%;
	z-index: 100;
	opacity:0;   
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    transition:.5s;
}

#chapter3-hover:hover #chapter3-hover-content {
    opacity:1;
}

#chapter3-span {
	position: fixed;
	right: 2%;
	top: 35.5%;
	font-family: arial, sans-serif;
	font-size: calc(8px + 0.4vw);
	color: black;
	z-index: 50;

}

#chapter4-hover-content {
	position: fixed;
	right: 13.5%;
	top: 44%;
	z-index: 100;
	opacity:0;   
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    transition:.5s;
}

#chapter4-hover:hover #chapter4-hover-content {
    opacity:1;
    
}

#chapter4-span {
	position: fixed;
	right: 2%;
	top: 49.5%;
	font-family: arial, sans-serif;
	font-size: calc(8px + 0.4vw);
	color: black;
	z-index: 50;

}

#chapter5-hover-content {
	position: fixed;
	right: 13.5%;
	top: 62%;
	z-index: 100;
	opacity:0;   
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    transition:.5s;
}

#chapter5-hover:hover #chapter5-hover-content {
    opacity:1;
    
}

#chapter5-span {
	position: fixed;
	right: 2%;
	top: 66%;
	font-family: arial, sans-serif;
	font-size: calc(8px + 0.4vw);
	color: black;
	z-index: 50;

}

#chapter6-hover-content {
	position: fixed;
	right: 13.5%;
	top: 77%;
	z-index: 150;
	opacity:0;   
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    transition:.5s;
}

#chapter6-hover:hover #chapter6-hover-content {
    opacity:1;
    
}

#chapter6-span {
	position: fixed;
	right: 2%;
	top: 81.5%;
	font-family: arial, sans-serif;
	font-size: calc(8px + 0.4vw);
	color: black;
	z-index: 50;

}

/*Nieuwe Spans*/

#chapter7-span {
	position: fixed;
	left: 2%;
	top: 10.7%;
	font-family: arial, sans-serif;
	font-size: calc(8px + 0.4vw);
	color: black;
	z-index: 50;

}

#chapter8-span {
	position: fixed;
	left: 2%;
	top: 22.5%;
	font-family: arial, sans-serif;
	font-size: calc(8px + 0.4vw);
	color: black;
	z-index: 50;

}

#chapter9-span {
	position: fixed;
	left: 2%;
	top: 35.5%;
	font-family: arial, sans-serif;
	font-size: calc(8px + 0.4vw);
	color: black;
	z-index: 50;

}

#chapter10-span {
	position: fixed;
	left: 2%;
	top: 49.5%;
	font-family: arial, sans-serif;
	font-size: calc(8px + 0.4vw);
	color: black;
	z-index: 50;

}

#chapter11-span {
	position: fixed;
	left: 2%;
	top: 66%;
	font-family: arial, sans-serif;
	font-size: calc(8px + 0.4vw);
	color: black;
	z-index: 50;

}

#chapter12-span {
	position: fixed;
	left: 2%;
	top: 81.5%;
	font-family: arial, sans-serif;
	font-size: calc(8px + 0.4vw);
	color: black;
	z-index: 50;

}

#four_k {
	position: relative;
	left: 10%;
	top: 5%;
    width: 80%;
    height: auto;
    margin-top: 50px;
    border: 0px solid black;
    animation:pulse 0s infinite alternate;

}

.border {
    width: 20%;
    width: auto;
    position: fixed;
    -webkit-animation: bummer 0.8s;
    animation: bummer 0.8s;
    -webkit-transform: scale(2,2); 
    transform: scale(2.5,2.5);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes bummer {
    100% {
        -webkit-transform: scale(1,1); 
    }
}

@keyframes bummer {
    100% {
        transform: scale(1,1); 
    }
}

#warhammer_image {
	position: relative;
	width: 100%;
	height: auto;
}

#warhammer_image_overlay {
	position: absolute;
	width: 100%;
	top: -5%;
	height: auto;
}

#nagrand_image {
	position: relative;
	width: 100%;
	height: auto;
}

#nagrand_image_overlay {
	position: absolute;
	width: 100%;
	top: -3%;
	height: auto;
}

#johnmartin_image {
	position: relative;
	width: 100%;
	height: auto;
}

#johnmartin_image_overlay {
	position: absolute;
	width: 100%;
	top: -10%;
	left: 0%;
	height: auto;
}

#diorama_image {
	position: relative;
	width: 100%;
	height: auto;
}

#diorama_image_overlay {
	position: absolute;
	width: 100%;
	top: -10%;
	left: 0%;
	height: auto;
}

#cosplay_image {
	position: relative;
	width: 100%;
	height: auto;
}

#cosplay_image_overlay {
	position: absolute;
	width: 100%;
	top: -5%;
	left: 0%;
	height: auto;
}
